.title-4xl {
  font-size: 10rem;
  font-weight: 800;
  line-height: 1;
}

.title-2xl {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.2;
}

.title-xl {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}
